h2 {
    text-align: center;
    margin-top: 4%;
    font-size: 2.7rem;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    position: relative;
    display: grid;
    padding: 3rem;
}
.timeline >li{
    display: flex;
    align-items: center;
}
.timeline:before {
    /* line */
    top: 2rem;
    bottom: 2rem;
    position: absolute;
    content:" ";
    width: 0.2rem;
    background: rgb(133, 99, 212);
    left: 50%;
}
.timeline > li {
    right: 0;
    width: 48%;
}
.timeline-inverted {
    justify-self: end;
}
ol, ul {
    padding-left: 0;
}

.text-date{
    color:rgb(29, 193, 124);
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgba(32, 32, 53, 0.7);
  }
  .arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgba(32, 32, 53, 0.7);
  }
  .timeline-panel{
    border-radius: 1rem;
    padding: 1.5rem;
    transition: 0.4s;
    background-color: rgba(59, 59, 99, 0.5);
    border: 1px solid rgb(160,160,255, 0.4);
  }
  .timeline-heading{
    color: white;
  }

  .timeline-body a{
    color: rgb(99, 125, 212);
  }

  .imageContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image{
  width: 70%;
  border: 3px solid rgb(54, 54, 54);
}
.titleContainer{
    margin: 5rem;
    padding:1rem;
    display: inline-block;
}
.titleContainer2{
    padding:1rem;
    display: inline-block;
}
/* .image11{
}
.image22{
} */

.hideondesktop{
    display: none;
}
@media screen and (max-width:768px) {
    .hideondesktop{
        display: block;
    }
    .hideonmobile{
        display: none;
    }
    .timeline > li{
        width: 100%;
        padding-bottom:2rem;
    }
    .timeline:before {
        /* line */
        top: 2rem;
        bottom: 2rem;
        position: absolute;
        content:" ";
        width: 0.2rem;
        background: rgb(133, 99, 212);
        left: 5%;
    }
}
